main {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

img {
    width: 50%;
}

#cesarEnvio {
    margin-top: 10px;
}

#cesar {
    width: 300px;
    /* height: 300px; */
    border: solid 5px;
    text-align: center;
    display: none;
    flex-direction: column;
}

input {
    width: 90%;
    text-align: center;
}

#criptografe {
    margin-top: 5px;
    margin-bottom: 5px;
}

#base64 {
    width: 300px;
    /* height: 300px; */
    border: solid 5px;
    text-align: center;
    justify-content: center;
    display: none;
    flex-direction: column;
}

#inputBase64 {
    width: 90%;
}

#output {
    margin: auto;
    width: 80%;
    height: 22px;
    border: solid 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#outputBase {
    margin: auto;
    width: 80%;
    height: 22px;
    border: solid 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    img {
        width: 95%;
        height: auto;
    }
}